# Archivos auxiliares de LaTeX
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)

# Archivos generados por compiladores
*.pdf
*.dvi
*.ps

# Otros archivos innecesarios
*.nav
*.snm
*.vrb

# Configuración de editores
.vscode/
.idea/
*.swp
*.bak
*~
out/
output/

# --- Python & Data Science ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.ipynb_checkpoints/

# Data (Omitir si son muy pesados para GitHub)
# data/raw/
# data/processed/
# data/results/
*.csv
*.parquet
*.h5

# R
.Rhistory
.RData
.Ruserdata
temp_rules.csv